# learning how to make you OWN functions in python


## What is function?

* y = 2x (a mathematical function)
* a piece of code that does something (making some output), given some input
* input x, output is y
* in python/r we call inputs 'arguments' and output is 'returned'

## Some functions we've seen before?
* `pd.read_csv()`
* in R, `lm()` is function 


## creating (defining) versus using (running functions)
* When you initially make (define) the function, you won't see any output
* You'll only see results when you RUN the function


## how do you test a function?
* Input something where you KNOW what the output should be, making sure that output shows up
* ^this is called 'unit testing'

# Define a function to print a greeting

* Only a `return()` statement actually can be saved into a variable
* `print()` is cosmetic -- we use it to SHOW us what is going on, but it doesn't save data

In [33]:
# define
def greet_person(name):
    # everything indented happens IN the function.
    #what the function does
    
    # return -- means OUTPUT the data
    return(f'hi, {name}')

In [34]:
# running
my_greeting = greet_person(name = 'Maitri')

In [32]:
my_greeting

'hi, Maitri'

In [35]:
greet_person(name = 'Nicole')

'hi, Nicole'

In [37]:
greet_person(name = [29, 293, 40])

'hi, [29, 293, 40]'

In [53]:
def multiply_numbers(a, b, f):
    product = a*b*f
    return(product)
    # nothing happens return - this code is not run!
    # return ENDS the function
    print('hi')

In [54]:
multiply_numbers(a=1,b =-3,f = 2.28)

-6.84

# Let's make a function to read in data into pandas

In [61]:
import pandas as pd
import glob

In [58]:
def read_round(filepath):
    df = pd.read_csv(filepath)
    df = df.round(2)
    return(df)

In [60]:
# run the function
read_round(filepath = '../../../data/fake_data/sub_810_raw.csv')

   subid    age  sex  anxiety  amygdala_reactivity
0    810  18.91    1    12.06                  0.2

In [66]:
# search for all of the files in the fake data folder using glob.glob
path_list = glob.glob('../../../data/fake_data/*')

In [83]:
len(path_list)

1000

In [86]:
path_list[999]

'../../../data/fake_data/sub_288_raw.csv'

In [92]:
# read round can only read 1 file at a time
read_round(path_list[6])

   subid    age  sex  anxiety  amygdala_reactivity
0    397  14.49    0     10.0                 0.61

In [93]:
# read in all files, a list of dataframes
def read_all_files(paths):
    # make a blank list
    df_list = []
    
    # use a LOOP to read in each file
    # for filepath, read in the file, then add that dataframe to a list
    for path in paths:
        # each time we read in a dataframe, add to the list
        df_list.append(read_round(path))
        
    return(df_list)

In [94]:
a = read_all_files(path_list)

In [95]:
# a is a LIST containing 1000 dataframes, 1 for each participant
len(a)

1000

In [81]:
# combine dataframes from the whole list ('concatenating')
# pd.concat takes a LIST of dataframes, and basically 'stacks them'
merged_data = pd.concat(a)

In [82]:
merged_data

    subid    age  sex  anxiety  amygdala_reactivity
0     189   9.68    1    10.63                -0.68
0     810  18.91    1    12.06                 0.20
0     968  15.68    1    12.61                -0.07
0     800  21.11    0     8.71                -0.93
0     199  11.92    0    11.04                 0.28
..    ...    ...  ...      ...                  ...
0     157  18.34    1    11.27                -3.36
0     867  18.10    0     8.50                -0.46
0     877   6.77    0    13.10                 0.79
0     298  16.33    0     9.53                 1.60
0     288  20.13    1    13.75                 1.17

[1000 rows x 5 columns]